In [ ]:
print('Hello World')

Hello World

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/',force_remount=True)
My_Dataframe=pd.read_csv('/content/drive/My Drive/My data files/Seattle_Short.csv',header=0)
print(My_Dataframe)

Mounted at /content/drive/
                                 Address  ... Incident Number
0                        215 W Mercer St  ...      F190020320
1                       400 S Jackson St  ...      F190020321
2      Seward Park Av S / S Henderson St  ...      F190020323
3                  8815 Seward Park Av S  ...      F190020324
4                      3005 Rainier Av S  ...      F190020326
...                                  ...  ...             ...
19995                  13519 30th Ave Ne  ...      F210003137
19996                 645 W Nickerson St  ...      F210003139
19997                10733 Meridian Av N  ...      F210003151
19998                         569 Lee St  ...      F210003167
19999                   3926 Aurora Av N  ...      F210003140

[20000 rows x 7 columns]

The title of the columns

The values of the last column

The first five rows of the dataset (excluding the column title)

The value in the row 100 and first column.

In [83]:
My_Dataframe.columns

Index(['Address', 'Type', 'Datetime', 'Latitude', 'Longitude',
       'Report Location', 'Incident Number'],
      dtype='object')

In [84]:
My_Dataframe.iloc[:,-1]

0        F190020320
1        F190020321
2        F190020323
3        F190020324
4        F190020326
            ...
19995    F210003137
19996    F210003139
19997    F210003151
19998    F210003167
19999    F210003140
Name: Incident Number, Length: 20000, dtype: object

In [85]:
My_Dataframe_5_rows=My_Dataframe.head(5)
My_Dataframe_no_header=My_Dataframe_5_rows.to_string(header=None,index=False)
print(My_Dataframe_no_header)

                   215 W Mercer St              Medic Response  02/26/2019 04:30:29 PM  47.624593 -122.359508  POINT (-122.359508 47.624593)  F190020320
                  400 S Jackson St            4RED - 2 + 1 + 1  02/26/2019 04:32:50 PM  47.599197 -122.328968  POINT (-122.328968 47.599197)  F190020321
 Seward Park Av S / S Henderson St  Medic Response, 6 per Rule  02/26/2019 04:47:50 PM  47.523293 -122.264555  POINT (-122.264555 47.523293)  F190020323
             8815 Seward Park Av S  Medic Response, 6 per Rule  02/26/2019 04:48:20 PM  47.524120 -122.264611   POINT (-122.264611 47.52412)  F190020324
                 3005 Rainier Av S                Aid Response  02/26/2019 05:00:41 PM  47.576907 -122.297049  POINT (-122.297049 47.576907)  F190020326

In [86]:
My_Dataframe.iloc[99,0]

'6940 62nd Av Ne'