## 4.1 Pizza

In [10]:
pizza = ["Chicken","Veg","Prawn"]
for i in pizza:
    print("I like",i,"Pizza.")
print("Among the number of food Pizza is my favorite food because it tastes and smells fabulous.\nThe pizza itself looks so yummy, crispy and so cheesy. There is no better feeling in the world than a warm pizza box on your lap. My love for Pizza is very high.")

I like Chicken Pizza.
I like Veg Pizza.
I like Prawn Pizza.
Among the number of food Pizza is my favorite food because it tastes and smells fabulous.
The pizza itself looks so yummy, crispy and so cheesy. There is no better feeling in the world than a warm pizza box on your lap. My love for Pizza is very high.

## 4.2 Animals

In [8]:
pets = ["Dog","Cat","Rabbit"]
for i in pets:
    print(i,"is a great animal.")
print("All these animals would make a best pet.")

Dog is a great animal.
Cat is a great animal.
Rabbit is a great animal.
All these animals would make a best pet.

## 4.3 Counting to Twenty

In [8]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 4.4 One Million

In [3]:
million_numbers=[]
for i in range(1000001):
    if i!=0:
     million_numbers.append(i)
#for i in million_numbers:
 #   print(i)

## 4.5 Summing the numbers

In [6]:
sum(million_numbers)

500000500000

## 4.6 Odd numbers

In [7]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 4.13 Buffet

In [19]:
food_tuple = ('Biryani','Momos','Kebab','Burger','Steak')
print("Food Menu")
for i in food_tuple:
    print(i)

food_tuple = ('Biryani','Fish&Chips','Brownie','Burger','Steak')
print("\nNew Food Menu")
for i in food_tuple:
    print(i)

Food Menu
Biryani
Momos
Kebab
Burger
Steak

New Food Menu
Biryani
Fish&Chips
Brownie
Burger
Steak

## 8.3 Tshirt

In [25]:
def make_shirt(num,msg):
    print("Make a shirt with size",num,"having the message",msg,".")

make_shirt("L","I Love Python")

Make a shirt with size L having the message I Love Python .

## 8.4 Large Shirts

In [ ]:
def make_shirt(num="L",msg="I Love Python"):
    print("Make a shirt with size",num,"having the message",msg,".")

make_shirt()
make_shirt("XL")
make_shirt(msg="Peace")

## 8.5 cities

In [30]:
def describe_city(city,country='Australia'):
    msg = city.title() + " is in " + country.title() + "."
    print(msg)

describe_city('Melbourne')
describe_city('Toronto', 'Canada')
describe_city('Chennai','India')

Melbourne is in Australia.
Toronto is in Canada.
Chennai is in India.

## 8.6 City Names

In [37]:
def describe_city(city,country):
    msg = '"'+city.title() +","+ country.title() + '"'
    print(msg)

describe_city('Melbourne','Australia')
describe_city('Toronto', 'Canada')
describe_city('Chennai','India')

"Melbourne,Australia"
"Toronto,Canada"
"Chennai,India"

## 8.7 Album

In [2]:
def make_album(artist, title, songs='None'):
   
    album_dict = {
        'artist': artist.title(),
        'title': title.title(),
        'number of songs': songs.title(),
        }
    return album_dict

album = make_album('Queen', 'Bohemian rhapsody')
print(album)

album = make_album('Jennifer Lopez', 'On the floor')
print(album)

album = make_album('Metallica', 'Nothing else matters',"3")
print(album)

{'artist': 'Queen', 'title': 'Bohemian Rhapsody', 'number of songs': 'None'}
{'artist': 'Jennifer Lopez', 'title': 'On The Floor', 'number of songs': 'None'}
{'artist': 'Metallica', 'title': 'Nothing Else Matters', 'number of songs': '3'}

## 8.8 User Album

In [ ]:
while(exit):
    Album = input('Please enter a Album name: ')
    Artist = input('Please enter a Artist name: ')

print(make_album(Album,Artist))